body {
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color: #ac0000;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

#drawingCanvas {
  background-color: white;
}
.flex{
  display: flex;
  justify-content: space-evenly;
}

.flex-row{
  flex-direction: row;
  width: 8rem;
}

.flex-column{
  flex-direction: column;
}

input[type="number"]{
  width: 4.75rem;
}

button{
  font-size: 5vw;
  font-weight: 400;
  background-color: white;
  border: none;
  width: 7rem;
  height: 2rem;
  margin: auto;
}

.white-text{
  color: white;
}
span.pred{
  color: black;
}