body {
  align-items: center;
  height: 100vh;
  margin: 0;
  padding: 0;
  background-color: #ac0000;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 1.75rem;
}
button{
  font-size: 2rem;
  font-weight: 400;
  background-color: white;
  border: 2px solid black;
  width: 10rem;
  height: 2.5rem;
  margin: 0 auto;
  padding: 0;
}
canvas{
  margin: 0 auto;
}

.flex{
  margin: 0 auto;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}


.flex-column{
  flex-direction: column;
}
.white-text{
  color: white;
}
.black-text{
  color: black;
}

#drawingCanvas {
  border: 2px solid black;
  background-color: white;
}