body {
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color: #ac0000;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 2rem;
}

#probabilityChart{
  height: 10vh !important;
}

#drawingCanvas {
  background-color: white;
}
.flex{
  display: flex;
  justify-content: space-evenly;
}

.flex-column{
  flex-direction: column;
}


button{
  font-size: 2rem;
  font-weight: 400;
  background-color: white;
  border: none;
  width: 10rem;
  height: 3rem;
  margin: auto;
}

.white-text{
  color: white;
}
span.pred{
  color: black;
}